<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mi Turn</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/miturn.css">
        <script src="/js/vue.js"></script>
        <script src="/js/socket.io.dev.js"></script>
        <script src="/js/moment.js"></script>


        <!-- Templates -->
        <script type="text/x-template" id="recent-item-template">
            <div class="col-xs-12" v-on:click.prevent="newRequest(recent, round)">
                <div class="recent">{{ recent }}</div>
            </div>
        </script>

        <script type="text/x-template" id="request-item-template">
        
            <div class="row no-gutters">
                <div class="col-xs-1">
                    <div v-if="isMyRequest" v-on:click.prevent="remove(request)" class="request-delete">X</div>
                </div>
                <div class="col-xs-5">
                    <div class="request-user">{{ request.user }}</div>
                </div>
                <div class="col-xs-5">
                    <div class="request-request">{{ request.request }}</div>
                </div>
                <div class="col-xs-1">
                    <div v-bind:class="deltaClass">{{ request.delta }}</div>
                </div>
            </div>
        </script>


        <script type="text/x-template" id="round-item-template">
            <div v-bind:class="roundClass">
                <div class="row no-gutters" v-on:click.prevent="toggleVisible">
                    <div class="col-xs-1"><div class="round-id">{{ round.id }}</div></div>
                    <div class="col-xs-6"><div class="round-timestamp">
                        {{ timestamp }}
                    </div></div>
                    <div v-show="round.user" class="col-xs-5">
                        <div class="round-user">
                            {{ round.user }}
                        </div>
                    </div>
                </div>
                <div v-if="round.visible">
                    <request-item
                        v-for="request in round.requests"
                        v-bind:request="request"
                        v-bind:key="request.id">
                    </request-item>
                    <div v-if="showAccept" class="row no-gutters">
                        <div class="col-xs-12" v-on:click.prevent="acceptRound(round)">
                            <div class="accept-round">Get this Round!</div>
                        </div>
                    </div>
                    <div v-if="showNewRequest" class="row no-gutters new-request">
                        <div class="col-xs-12">
                            <recent-item
                                v-for="recent in recents"
                                v-bind:recent="recent"
                                v-bind:round="round"
                                v-bind:key="recent">
                            </recent-item>

                            <div class="col-sm-12">
                                <div class="input-group request-input">
                                <input type="text" class="form-control" 
                                    v-model="requestInput" placeholder="Enter request"
                                    v-on:keyup.enter.prevent="newRequestInput(round)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" v-on:click.prevent="newRequestInput(round)">Submit</button>
                                </span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </script>

    </head>
    <body>
        <div id="app">
            <h1 class="col-xs-12 title"><%= group %></h1>
            <div v-cloak>
                <round-item
                    v-for="(round, index) in rounds"
                    v-bind:round="round"
                    v-bind:index="index"
                    v-bind:key="round.id">
                </round-item>
                <div v-if="showNewRound" class="row no-gutters">
                    <div class="col-xs-12" v-on:click.prevent="newRound">
                        <div class="new-round">New Round</div>
                    </div>
                </div>
                
            </div>
        </div>

        <script src="/js/miturn.js"></script>
        <script>app = startVue('<%= group %>', '<%= session %>')</script>
    </body>
</html>